@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  --color-primary: #884d00;
  --color-primary-container: #fe9400;
  --color-on-primary-container: #482600;
  --color-surface: #f4f6ff;
  --color-surface-container: #dce9ff;
  --color-surface-container-low: #eaf1ff;
  --color-surface-container-lowest: #ffffff;
  --color-on-surface: #203044;
  --color-on-surface-variant: #4d5d73;
  --color-outline-variant: #9eaec7;
  --color-error: #b02500;
}

@layer base {
  body {
    @apply bg-surface text-on-surface font-sans antialiased;
  }
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

